<%= turbo_stream.append dom_id(@chat, :messages) do %>
  <div class="chat-message">
    <strong><%= @message.user.name %> <%= date_with_time(@message.created_at) %></strong><br>
    <%= @message.content %>
  </div>
<% end %>
