* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", sans-serif;
}

body {
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  background: #f5f5f5;
  margin-left: 250px;
  overflow-y: auto;
}

.container {
  // max-width: 1400px;
  margin: 0;
  background: #f5f5f5;
}