<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "event_files/index" %>
<% end %>
<% content_for :title, "見積ファイル" %>

<%= render partial: "layouts/sidebar" %>
<div class="main-content" data-controller="event-file-index">
  <div class="container">
    <div class="header">
      <h1><i class="fas fa-folder-open"></i> 案件ファイル管理</h1>
    </div>

    <div class="content-container">
      <% @sections.each do |section| %>
        <%= render 'file_section', section: section %>
      <% end %>
      <div class="action-bar">
        <div class="action-buttons">
          <%= link_to event_event_files_path(@quotation, format: :zip), 
              class: "btn btn-secondary", 
              data: { "turbo-method": :get } do %>
            <i class="fas fa-download"></i>
            全てダウンロード
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
