<!-- 進捗モーダル（案件一覧スタイル） -->
<div class="modal-overlay" data-event-new-target="milestoneModalOverlay" data-action="click->event-new#closeMilestoneModal">
  <div class="modal_show" data-event-new-target="milestoneModal">
    <div class="modal-header">
      <div class="modal-title">
        <i class="fas fa-tasks"></i>
        <span>案件進捗状況</span>
      </div>
      <button class="modal-close" data-action="click->event-new#closeMilestoneModal">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-content" data-event-new-target="milestoneContent">
      <ul class="milestone-list">
        <% EventStep.statuses.keys.each do |status|%>
          <li class="milestone-item">
            <div class="milestone-icon <%= event_list_edit_status_check_icon(@event_doc_completed, status, @event_steps[status]&.last, @event_schedule, @event) %>">
              <i class="fas fa-check"></i>
            </div>
            <div class="milestone-content">
              <div class="milestone-name"><%= I18n.t("activerecord.attributes.event_step.status.#{status}")%></div>
              <div class="milestone-date"><%= event_list_edit_status_date(status, @event_schedule) %></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
